@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');

.hero-text {
    font-family: "Kumar One", serif;
    text-align: center;
    top: 180px;
    width: 100%;

}

.hero {
    background-color: rgb(235, 203, 173);
    height: 250px;

}

h2 {
    font-family: "Corben", serif;
}

img {

}


.three-column-bread {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.column {
    flex: 1;
    text-align: center;
    width: 70px;
    height: 40px;
}

.column-image{
    width: 50px;
    height: 25px;
    object-fit: cover;
    border-radius: 8px;
}

.card-text {
    text-align: center;
    color: black
}