@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
    box-sizing: border-box;
    margin-left: 0;
    padding: 0;
}

body {
    background-color: rgb(247, 239, 220)
}

.hero-text {
    font-family: "Kumar One", serif;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 68px;
    padding-top: 40px;
    color: rgb(158, 98, 64);
}

.hero {
    background-color: rgb(235, 203, 173);
    height: 175px;
    margin-top: 0px;
}

.two-column-welcome {
    display: inline;
}

.welcome-image img {
    margin-left: 40px;
}

.welcome-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-left: 100px;
}

.bread-banner-text {
    background-color: rgb(158, 98, 64);
    height: 100px;
    font-family: "Playball", serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(235, 203, 173);
}

.bread-three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
}

.card img {
    width: 500px;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

.card-text {
    text-align: center;
    color: rgb(158, 98, 64);
    font-family: "Corben", serif;
}

.pastries-banner-text {
    background-color: rgb(222, 164, 126);
    height: 100px;
    font-family: "Playball", serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(235, 203, 173);
}
.pastries-three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
}

.pastries-card img {
    width: 500px;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

.pastries-card-text {
    text-align: center;
    color: rgb(158, 98, 64);
    font-family: "Corben", serif;
}


.cakes-banner-text {
    background-color: rgb(158, 98, 64);
    height: 100px;
    font-family: "Playball", serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(235, 203, 173);
}

.cakes-three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
}

.cakes-card img {
    width: 400px;
    border-radius: 1000px;
    height: auto;
    object-fit: cover;
}

.cakes-card-text {
    text-align: center;
    color: rgb(158, 98, 64);
    font-family: "Corben", serif;
}