@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.hero-text {
    font-family: "Kumar One", serif;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 68px;
    padding-top: 40px;
}

.hero {
    background-color: rgb(235, 203, 173);
    height: 175px;
}

.card-text {
    font-family: "Corben", serif;
}

.bread-banner-text {
    background-color: rgb(222, 164, 126);
    height: 100px;
    font-family: "Playball", serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
}


.bread-three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
}

.card img {
    width: 500px;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

.card-text {
    text-align: center;
    color: black
}

.pastries-banner-text {
    background-color: rgb(158, 98, 64);
    height: 100px;
    font-family: "Playball", serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 20px;
}

.pastries-card-image img {
    width: 480px;
    height: 322px;
    padding: 0px;
}